@{
    ViewBag.Title = "Brass Dragon Archive - Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h1>Welcome to Brass Dragon Archive!</h1>

    <p>For our final project we'll be creating a character database for Fifth Edition Dungeons and Dragons. This will use at least three pages; login, gallery, and edit page. The database will have at least five tables, a User table holding all logins, a Character table holding created characters, and then tables for Races, Classes and Backgrounds holding gameplay information. Users will be able to manipulate Character records assigned with their own unique ID.</p>
    <p><strong>Group Members:</strong></p>
    <ul>
        <li>Noah Clark</li>
        <li>Trever Cluney</li>
        <li>Nick Hofmann</li>
    </ul>

    <p><strong>Noah Clark's Original Pitch:</strong></p>
    <p>For this project the user will be able to use this web app to create characters for Fifth Edition Dungeons and Dragons. After creating a log in, users will be able to view any characters they've created previously listed out on a table, with button prompts next to each character allowing them to edit or delete them. In addition, a button at the top of this table will allow the user to create a new character. This will lead them to a second page where they can enter in information to create a new character, alongside two buttons to either randomize the entire form or to randomize empty fields. The Edit action will act in a similar way, but prepopulating the fields with the desired character's information and affecting that character's entry.  All of the relavent information will be stored on an SQL database, the various Classes, Races, and Backgrounds, alongside a User and Character database, allowing for people to create logins and retain character information. Finally, if a user is granted admin permission, they will have access to a page allowing them to manipulate the database, alongside moderating for unwelcome behavior.</p>
    <p>The above paragraph covers what I view as essential to the project, from here on are ideas I would like to add if I have the time. If at all possible, I'd want to allow the users to upload images to represent their character, doing this would require changing how characters are displayed on a user's page alongside guidelines about how large an image can be. If this feature is integrated, I would also like to have the option to view other users' characters, to have a slight sense of community. Additionally, to give the site a bit more flair I may commission an artist to create a mascot for the site; a brass dragon who's gathered together an archive of various heroes and villains so he can share them with visitors to the site, maybe a touch cheesy but I like it. Finally, probably the largest addition, adding in support for systems other than D&D 5e such as; Pathfinder, Starfinder, D&D 3.5, Mutants and Masterminds, Monsterpunk, or many more. If I decide to use Monsterpunk or any other smaller independent systems, I would need to reach out to the team behind them and ask for permission to include their system's rules.</p>
</body>
</html>