body {
  /* Margin bottom by footer height */
  margin-top: 70px;
  margin-left: 70px;
  margin-right: 70px;
}

form {
    padding-left: 35px;
    padding-right: 35px;
    /*color: crimson;*/
    margin-bottom: 35px;
}

/*
label {
    padding-left: 70px;
    padding-right: 70px;
}
*/


